@mixin button($backgroundColor:var(--Green)){
    background-color: $backgroundColor;
    color: var(--White);
    padding: 1rem 2rem;
    font-size:2rem;
    border-bottom: 4px solid var(--Black);
    border-radius: 3px;
}
.btnStart{
    @include button();   
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}
button:active{
    border-bottom: 2px solid var(--Black);
}
.btn_chute{
    @include button();
}
.btn_reiniciar{
    @include button($backgroundColor:var(--Red))
}