.game_start{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.game_start.active{
    animation: start 0.5s forwards ease;
}
@keyframes start {
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(90%);
        display: none;
    }
}